:root {
  --color-light-grey: #f8f8f8;
  --color-dark-grey: #282828;
  --color-green: #4dff53;
}

/* Pretendard 적용할것 */

/* 제목 폰트 */
@font-face {
  font-family: "PilseungGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;

  background-color: var(--color-light-grey);
}

.container {
  width: 375px;
  height: 100%;

  padding: 20px 25px;

  background-color: black;
}

h1 {
  font-family: "PilseungGothic";
  font-size: 24px;

  margin-bottom: 50px;
}

/* calendar */
.calendar {
  list-style: none;

  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;
}

.calendar > li {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

.calendar > li > h2 {
  font-size: 12px;
}

.calendar > li > span {
  font-size: 12px;
}

.calendar > li > span:nth-child(2) {
  width: 20px;
  height: 20px;

  background-image: url(images/todo_icon.svg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar > li > #today {
  background-color: var(--color-green);
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
}

/* main */

main > h2 {
  font-size: 16px;

  background-color: var(--color-dark-grey);
  color: var(--color-green);

  width: max-content;
  padding: 8px 10px;
  margin-bottom: 10px;

  border-radius: 20px;
}

main > h2 > button {
  background-color: transparent;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 50%;

  width: 18px;
  height: 18px;

  margin-left: 5px;

  cursor: pointer;
}

#list-container > li {
  list-style: none;

  display: flex;
  gap: 10px;

  margin: 20px 10px;
  width: max-content;

  cursor: pointer;
}

#list-container > li::before {
  content: "";

  display: flex; /* inline 에는 height와 width를 줄 수 없음 */

  height: 20px;
  width: 20px;
  background-image: url(images/todo_icon.svg);
  background-size: cover;
}

#list-container > li.checked::before {
  content: "";

  display: flex; /* inline 에는 height와 width를 줄 수 없음 */

  height: 20px;
  width: 20px;
  background-image: url(images/todo_icon_fill.svg);
  background-size: cover;
}

/* 할일 입력창 */
#list-container > li > input {
  border: none;
  border-bottom: 2px solid var(--color-dark-grey);
  background-color: transparent;

  padding-bottom: 7px;
  width: 150px;

  font-size: 16px;
}

#list-container > li > input:focus {
  outline: none;
}

#list-container > li > button {
  background-color: var(--color-green);
  color: var(--color-dark-grey);
  border: 1px solid var(--color-green);
  border-radius: 50%;

  width: 18px;
  height: 18px;

  cursor: pointer;
}
